<phpunit>
  <testsuites>
    <testsuite name="Pulse">
      <directory suffix="Test.php">./tests/cbednarski/Pulse/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <blacklist>
      <directory suffix=".php">./vendor/</directory>
    </blacklist>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src/cbednarski/Pulse/</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
  </logging>
</phpunit>
